body {
  margin: 0;
  height: 100%;
  font-family: "Cinzel", serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
}

h1 {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
#start-screen {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/theme.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* here i edit the first screen where the play , description will exist*/
#game-intro {
  display: none;
  background-image: url("../images/godCardTheme.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}
#gods-container {
  padding: 15%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button {
  padding: 1rem 1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: rgb(221, 136, 0);
  color: black;
  border-radius: 5px;
}
#mute-btn {
  position: fixed;
  top: 33px;
  right: 10px;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 107, 1, 0.8);
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  z-index: 999;
}
/* here i edit the second where you choose god cards. */

.god-card {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid gold;
  padding: 1rem;
  width: 200px;
  text-align: center;
}

#arena {
  position: relative;
  display: none;
  min-height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

.fighter {
  position: absolute;
  bottom: 160px;
  width: 350px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

#player-god {
  left: 10%;
}
#player-god h3 {
  margin: 0;
  position: absolute;
  top: -50px;
  left: -40px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

#enemy-god {
  right: 10%;
}
#enemy-god h3 {
  margin: 0;
  position: absolute;
  top: -50px;
  left: -40px;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
.sprite {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#enemy-sprite {
  transform: scaleX(-1); /* flip the enemy sprite towards me */
}

.health-bar {
  position: absolute;
  top: -40px;
  width: 200px;
  height: 20px;
  background: #222;
  border: 2px solid #000;
  margin: 20px 30px;
}

.health-fill {
  height: 100%;
  background: linear-gradient(to right, limegreen, green);
  border-radius: 3px;
  width: 100%;
  transition: width 0.3s ease-in-out;
}

#actions {
  margin-top: 1rem;
  position: absolute;
  top:-35px;
  left:45rem;
  gap: 2rem;
}

#battle-log {
  max-height: 150px;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  border: 1px solid white;
  text-align: left;
}

#end-screen {
  display: none;
  padding: 3rem;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: inherit;
  box-sizing: border-box;
  top: 0;
}
